*{
	padding = 0;
	margin = 0;
	font-family : sans-serif;
}



h1 {
	text-align: center;
	color:#26FCF6;
	}
h4 {
	text-align: left;
  margin-left: 15px;
}


#u1{
	margin-top: 15px;
	margin-left: 140px;
	font-size: 15px;
	width: 55%;
	line-height: 30px;
}
#id1{
	margin-top: 15px;
	margin-left: 145px;
	font-size: 15px;
	width: 55%;
	line-height: 30px;
}
#d1{
	margin-top: 15px;
	margin-left: 130px;
	font-size: 15px;
	width: 55%;
	line-height: 30px;
}
#s1{
	margin-top: 15px;
	margin-left: 156px;
	font-size: 15px;
	width: 55%;
	line-height: 30px;
}
#sc1{
	margin-top: 15px;
	margin-left: 118px;
	font-size: 15px;
	width: 55%;
	line-height: 30px;
}
#p1{
	margin-top: 15px;
	margin-left: 104px;
	font-size: 15px;
	width: 55%;
	line-height: 30px;
}
#mID{
	margin-top: 15px;
	margin-left: 160px;
	font-size: 15px;
	width: 55%;
	line-height: 30px;
}
